html
    head
        title Query
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
        link(rel="stylesheet", href="/search.css")
    body
        style.
            #snackbar {
                visibility: hidden;
                min-width: 250px;
                margin-left: -125px;
                background-color: #333;
                color: #fff;
                text-align: center;
                border-radius: 2px;
                padding: 16px;
                position: fixed;
                z-index: 1;
                left: 50%;
                bottom: 30px;
                font-size: 17px;
            }

            #snackbar.show {
                visibility: visible;
                -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                animation: fadein 0.5s, fadeout 0.5s 2.5s;
            }

            @-webkit-keyframes fadein {
                from {bottom: 0; opacity: 0;} 
                to {bottom: 30px; opacity: 1;}
            }

            @keyframes fadein {
                from {bottom: 0; opacity: 0;}
                to {bottom: 30px; opacity: 1;}
            }

            @-webkit-keyframes fadeout {
                from {bottom: 30px; opacity: 1;} 
                to {bottom: 0; opacity: 0;}
            }

            @keyframes fadeout {
                from {bottom: 30px; opacity: 1;}
                to {bottom: 0; opacity: 0;}
            }
        div.navbar
            div.logo 
                a(href="/app") Book Hero
            div.search-bar
                i.fas.fa-search
                form(onsubmit="return find()")
                    input.search(type="text", placeholder="Search...")
            ul
                li
                    a(href="/app/add") Add Book
                li
                    a(href="/app/profile") Profile
        hr
        div.wrapper
            div.results
                if results
                    each val, index in results
                        div.book(data-id=index)
                            p(style="display: none;")= val._id
                            h3.title= val.title
                            h4.author= val.author
                            div.imgc
                                p.imgURL(style="display: none;")= val.imgURL
                                img(src=val.imgURL, alt="")
                            button.adds(onclick="checkout("+index+")") Checkout
        div#snackbar Book succesfully added to collection
        script.
            function search(){
                var input = document.querySelector("input.addsearch");
                var q = input.value;
                console.log(q)
                window.location = "/app/search?q="+q+"&page=1";
                return false;
            }

            function checkout(i){
                var book = document.querySelector("[data-id='"+i+"']");
                var _id = book.querySelector("p").innerHTML;

                fetch("/app/checkout", {
                    method: "POST",
                    headers:{
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({_id})
                }).then(function(res) {
                    window.location.href = "/app/profile";
                }).catch(function(err){
                    console.log(err);
                })
            }

            function myFunction() {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            }

            function find(){
                var input = document.querySelector(".search");
                var q = input.value;
                window.location = "/app/find?q="+q+"&radius=100";
                return false;
            }